@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-muted;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: max(1.5rem, env(safe-area-inset-top, 1.5rem));
  }
  .touch-manipulation {
    touch-action: manipulation;
  }
}
